
.about_bt1{
	text-align:center;
	margin-top: 20%;
	margin-bottom: 10%;
}
.about_bt1 h1{
	font-weight: normal;
	font-size: 16px;
}
.about_bt1 li{
	color: #888;
	margin-top: 5%;
}
.about_nl1{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.about_nl1 li{
	width: 80%;
	margin: 0 auto;
	padding: 5%;
	margin-bottom: 5%;
	text-align: center;
}
.about_nl1 li h2{
	font-weight: normal;
	font-size: 16px;
	margin: 10px 0px;
}
.about_nl1 li p{
	font-size: 12px;
	line-height: 25px;
	color: #888;
}
.about_bt2{
	text-align:center;
	margin-top: 5%;
	margin-bottom: 5%;
}
.about_bt2 h1{
	font-weight: normal;
	font-size: 16px;
	margin-top: ;
}
.about_bt2 li{
	color: #888;
	margin-top: 5%;
}
.about_nl2{
	width: 100%;
	background: #f8f8f9;
	padding: 20px 0px;
	
}
.about_nl3{
	width: 100%;
	background: #fff;
	padding: 20px 0px;
	
}
.about_nll{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.about_nll img{
	width: 100%;
}
.about_nlr{
	width: 90%;
	margin: 0 auto;
}
.about_nlr h1{
	font-weight: normal;
	font-size: 18px;
	color: #2b90ed;
	margin-bottom: 5%;
	
}
.about_nlr h1 span{
	width: 5%;
	display: block;
	float: left;
	margin-right: 2%;
	margin-top: -2%;
}
.about_nlr h1 span img{
	width: 100%;
	
}
.about_nlr li{
	font-size: 12px;
	line-height: 30px;
	color: #666;
	margin-left: 7%;
}
.about_nlr li span{
	font-size: 30px;
	line-height: 25px;
	float: left;
	margin-right: 5px;
}





























































































































